.color{
    color: $main;
    border-color: $main;
    &.active{
        color: $active;
        border-color: $active;
    }
}
.bg{
    background-color: $main;
    color: $text;
    &.active{
        background-color: $active;
    }
}